/*
  * I'm breaking my css into separate files for a cleaner setup
*/
@import "fonts";
@import "constants";
@import "helpers";
@import 'bootstrap-custom';
@import 'header';
@import "cart";
@import 'nav';
@import 'products';
@import 'footer';

body {
  font-family: 'Raleway', sans-serif;
  font-size: $fontsize;
  font-weight: 400;
  margin: 0;
  background-color: $blue;
  padding-top: $headerHeight;
}

h1 {
  color: $pink;
  font-size: 30px;
}

h3 {
  font-size: $fontsize;
}

ul, li{
  @include clearList;
}

* {
  box-sizing: border-box;
}

.layout {
  padding-left: $liningSpace;
  padding-right: $liningSpace;
}

main {
  color: $textgray;
  background-color: $fillgray;
  font-size: 17px;
  padding: $liningSpace 0;
  h1 {
    margin: $liningSpace 0 0;
  }
  p {
    margin: 11px 0;
  }
}
/*
  * Using bootstraps defined widths for media queries
*/
@media (max-width: $screen-xs-max) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: $screen-sm-min) {
  .layout {
    max-width: $maxWidth;
    margin: auto;
  }
}
